@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:ital,wght@1,300&display=swap');
* {
    font-weight: 20;
    font-family: 'Inconsolata', monospace;
}

body {
    background: rgb(233, 255, 0);
    background: linear-gradient(90deg, rgba(233, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.logo img {
    background-color: black;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 5%;
    border-radius: 20px;
    padding: 15px 15px;
    box-shadow: 0 0 10px black;
    width: 75px;
}

.heading h1 {
    color: white;
    background: linear-gradient(270deg, rgba(233, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    font-weight: 1000;
    position: fixed;
    top: 10%;
    left: 87%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    border-radius: 5px;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 30px black;
    z-index: 1;
}

.imgs img {
    border-style: double;
    border-color: black;
    border-width: 10px;
    border-radius: 50px;
    width: 50%;
    animation-duration: 1s;
    animation-name: pics;
    animation: imgs 3s;
}

@keyframes pics {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: black;
    }
}

@keyframes imgs {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.txt {
    top: 45%;
    position: fixed;
    text-align: left;
    font-size: 17px;
}

.txt p {
    font-weight: 1000;
}

.idnt p {
    color: white;
    width: 100%;
    font-weight: 1000;
    top: 45%;
    left: -15%;
    position: fixed;
    text-align: right;
    font-size: 17px;
}

.idnt img {
    background-color: black;
    border-radius: 90%;
    padding: 5px 5px;
    width: 50px;
    position: fixed;
    top: 48.5%;
    right: 8.5%;
    transform: translate(-50%, -50%);
}